.about {
    width:100%;
    text-align: center;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;

    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* border:2px red solid; */
    display: flex;
    flex-direction: column;
}


#sub-heading{
    font-size:1em;
    margin-bottom: -40px;
    font-weight: normal; 

    /* border:2px blue solid; */
}

#main-heading{
    font-size:2.5em;
    margin-bottom: 10px;
    /* border:2px blue solid; */
}


.about-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
       /* border:2px blue solid; */

}

.about-image {
    flex: 1;
    max-width: 300px;
    margin: 10px;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    width: 100%;

}

.card-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    /* border:2px red solid; */
}

.card {
    background: #fff; /* White background */
    border: 2px solid #000; /* Black border */
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}


.card h3 {
    margin-bottom: 10px;
}

.about-paragrah {
    margin-top: 20px;
    line-height: 1.6;
    width: 100%;
    text-align: left;
}
