.header{
    display: flex;
    height:3em;
    /* width: 100%; */
    padding: 0 2%;



    align-items: center;
    justify-content: space-between;
    

    position: relative; 
    /* border:solid 3px blue; */

    /* background-color: gray; */


}

.header-logo {
    height: 40px;
}

.desktop-menu {

    /* border:2px solid red; */
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    height: 100%;
    padding: 2px;
}

.desktop-menu ul li {
    height: 100%;
    position: relative;
    white-space: nowrap; /* Prevent text from wrapping */
}

.desktop-menu ul li a {
    color: black;
    font-size:1.5em;
    text-decoration: none;
    font-weight: bold;
    padding: 0 1em;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.desktop-menu ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.desktop-menu ul li a:hover::after {
    transform: scaleX(1);
}

.desktop-menu ul li a:hover {
    background-color: darkgray;
}


.menu-toggle {
    padding: 0;
    display: none;
    background: none;
    border:none;
    position: absolute; 
    left:3%; 

    height:100%;
    /* width:4em; */
    justify-content: center;
    align-items: center;


    /* border:white solid 2px; */
}

.menu-toggle img{
    height:70%;
    /* width: 100%; */
    width: auto;
    /* border:white solid 2px; */
}
    




.mobile-menu {
    display: none;
    background-color: #003366;
    position: absolute;
    top:3em;
    width: 40%;
    z-index: 999;
    border-top-right-radius: 15px; /* Add rounded bottom left corner */
    border-bottom-right-radius: 15px;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu ul li {
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
}

.mobile-menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
    /* border-bottom: 1px solid #ddd; */
}

@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    .header-container {
        justify-content: center;

    }
    
    #main-header.scrolled {
    background-color: rgba(74, 159, 244, 0.8);
    backdrop-filter: blur(8px); 
    }
    .header-logo {
        position: absolute; /* Added for absolute positioning */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
    }
}
