.hero-section {
    background: url('/hero_pic.PNG') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 3em 0;
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 0;
    margin-top: -3em;
}
