.services {
    text-align: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.service-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-subtitle {
    font-size: 1em;
    color: #666;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.services-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(20% - 20px); /* Adjusted to fit 4 cards in a row */
    text-align: center;
    transition: transform 0.3s ease;
}


.service-icon img {
    max-width: 80px;
    margin-bottom: 20px;
}

.service-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 20px;
}


.service-card:hover {
    background-color: #044c99; /* Blue background */
    color: #fff; /* White text color */
    border-color: #007bff; /* Optional: Change border color to match the background */
}

/* Ensure the text within the service card changes color on hover */
.service-card:hover .service-title,
.service-card:hover .service-description,
.service-card:hover .service-button {
    color: #fff; /* White text color */
}
